nav {
    display: grid;
    grid-template-columns: 1fr 3fr;    
    margin-top: 2em;
}

.menu {
    display: grid;
    justify-items: end;
}

.menu ul li {
    display: inline;
    margin-right: 2em;
}

.logo {
    text-transform: uppercase;
    margin-left: 2em;
}