.wrapper {
    width: 100%;
    border: solid 1px red;
    padding: 0;
}

nav {
    display: grid;
    grid-template-columns: 1fr 3fr;    
    margin-top: 1em;
    padding: 0;
}

.menu {
    display: grid;
    justify-items: end;
    margin: 0;
}

.menu ul li {
    display: inline;
    margin-left: 2em;
    
}

.logo {
    display: grid;
    justify-items: start;
    text-transform: uppercase;
    margin: 0;

}